.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background: #eee;
  border: 1px solid #555;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  width: 5rem;

  &:hover {
    background: #cccccc;
  }

  &:active {
    background: #bbb;
    transform: translate(0, 2px) scale(.98);
  }
}

.flex {
  display: flex;
  justify-content: space-evenly;
}